@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');  

  
  footer {
    background-color: black;
    height: 150px;
    margin-top: 50px;
    color: white;
    text-align: center;
  }
  .read-more-button{
      outline: none;
      color: #845EC2;
  }
 
  #moreText{
    display: none;
  }

  #portfolio1{
   padding-top: 200px;
  }
  

  
  .taille {
    font-size: 20px;
  }

  
  .nav-item {
    margin: 0 20px;
  }
  
  .bigbox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .vertical-line {
    border-left: 2px solid #000;
        display: inline-block;
        height: 130px;
        margin: 0 20px;
  }
  .box {
    width: 49%;
    border-radius:6px;
    box-shadow: 2px 3px 6px 0px rgba(161,161,161,0.67);               
    margin: 30px;
    text-align: left;
    transition: transform 250ms ease-in-out;
    padding: 30px;
    background-color: white;
  }
  

  .box:hover{
    transform: scale(1.010);

  }
  
  h2 {
    font-family: 'Roboto', sans-serif;
    color: #845EC2;
  }
  
  
  .foot1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  }
  /*boite page d'accueil*/
  .premain h1{
    color: #845EC2;
  }
  .box3{
    width: 40%;
    background-color: white;
    height: 300px;
    border-radius: 6px;
    box-shadow: 2px 3px 6px 0px rgba(161,161,161,0.27);
    padding: 30px;
    position: relative;
    vertical-align: center;
  }

  .premain {
    margin-top: 100px;
    margin-bottom: 70px;
    height: 600px;
    background-color: #f5f5f8;
    padding: 20px;
    border-radius: 6px;
    
  }

  .largbox{
    align-items: center;
    height: 500px;
    
  }


  /* boite créer une annonce.*/
  .box2 {
    width: 50%;
    border-radius:6px;
    box-shadow: 2px 6px 8px 0px rgba(161,161,161,0.67);               
    margin: 30px;
    padding: 30px;
    background-color:#F2F1F4;
    margin-top: 200px;
   text-align: center;
  }

  .bigbox2 {
    display: flex;
    justify-content: space-around;
    
    flex-direction: row;
  }

  .bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .modal-content {
    width: 700px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    position: relative;

  }

  form div {
    padding-top:10px;
  }
  
  form .oui {
    text-align: center;
    
  }
  .btn{
    width: 150px;
    margin-top: 20px;
  }

  .close{
    position:absolute;
    top:0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
  }

  